*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

nav{
    position:fixed;
    top:0;
    width:100%;
    background:#222;
    padding:15px;
    transition:0.3s;
}

nav ul{
    display:flex;
    justify-content:center;
    list-style:none;
}

nav ul li{
    margin:0 20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-size:18px;
    padding:8px 12px;
}

nav ul li a:hover{
    background:#ff9800;
    border-radius:5px;
}

nav.scrolled{
    background:white;
    box-shadow:0 2px 10px rgba(0,0,0,0.2);
}

nav.scrolled a{
    color:black;
}

.content{
    margin-top:100px;
    height:2000px;
    text-align:center;
}
