*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}

body{
    background:#f5f7fa;
}

/* NAVBAR */
nav{
    position:fixed;
    top:0;
    width:100%;
    padding:18px 60px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:rgba(0,0,0,0.85);
    transition:0.4s ease;
    z-index:1000;
}

/* LOGO */
.logo{
    color:#00ffd5;
    font-size:24px;
    font-weight:bold;
}

/* MENU */
nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:30px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-size:17px;
    position:relative;
}

/* UNDERLINE ANIMATION */
nav ul li a::after{
    content:"";
    width:0%;
    height:2px;
    background:#00ffd5;
    position:absolute;
    left:0;
    bottom:-5px;
    transition:0.3s;
}

nav ul li a:hover::after{
    width:100%;
}

/* SCROLL EFFECT */
nav.scrolled{
    background:white;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

nav.scrolled a{
    color:black;
}

nav.scrolled .logo{
    color:#000;
}

/* HERO SECTION */
.hero{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero h1{
    font-size:50px;
    margin-bottom:15px;
}

.hero p{
    font-size:20px;
    color:#555;
}

.hero button{
    margin-top:25px;
    padding:12px 30px;
    border:none;
    background:#00ffd5;
    font-size:16px;
    cursor:pointer;
    border-radius:30px;
    transition:0.3s;
}

.hero button:hover{
    background:black;
    color:white;
}

